* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* :root{
    
} */

a {
    text-decoration: none;
}

.fa-lock-open {
    color: green;
}

.fa-lock {
    color: red;
}


/* HEADER */


header {
    min-height: 10vh;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

nav a {
    color: white;
}

#nav-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#nav-right a {
    margin: 0 20px;
}

#nav-left>a {
    display: flex;
    align-items: center;
    gap: 20px;
}

#imglogo {
    height: 80px;
    border-radius: 8px;
    margin: 8px 0;
}


/* FOOTER */


footer {
    background-color: black;
    color: white;
    min-height: 10vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: white;
}


/* MAIN */


#forum{
    width: 100%;
}

#mainpage {
    padding: 24px 20px;
    background-color: gray;
    min-height: 80vh;
    display: flex;
}

.formBasPage {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: lightgray;
    padding: 24px 20px;
    border-radius: 12px;
}

.formBasPage div {
    background-color: white;
    padding: 12px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 8px;
}

#submitBas {
    justify-content: center;
    height: 80px;
}

#submitBas input {
    width: 33%;
}


/* home.php */


#home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
}

#entete{
    align-self:flex-start;
}

#message-acceuil{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* listTopic.php */


#carteContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px 40px;
}

.carteTopic {
    width: 360px;
    height: 230px;
    border-radius: 12px;
    box-shadow: black 0 0 20px -4px;
    overflow: hidden;
}

.hautDeCarte {
    height: 80%;
    background-color: rgb(30, 30, 30);
    color: white;
    display: flex;
    flex-direction: column;
}

.ligneHaut {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 20%;
    padding: 0 20px;
}

.nomSujet {
    margin-top: 50px;
    align-self: center;
    font-size: xx-large;
}

.basDeCarte {
    height: 20%;
    background-color: rgb(179, 179, 179);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


/* aTopic.php */


#topTopic {
    margin-bottom: 40px;
}

#sousInfoTopic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#infoTopicDroite {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#botTopic {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#lesMessages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unMessage {
    padding: 20px 12px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.infoMsg {
    display: flex;
    justify-content: space-between;
}


/* listCategorie.php */


#groupCate{
    display: flex;
    flex-wrap: wrap;
    gap: 4px 20px;
    margin-top: 20px;
}

.cateNom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



/* listTopicForACategorie.php */


#tableauTopicCategorie {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: left;
}

#tableauTopicCategorie thead {
    background-color: #f3f3f3;
    border-radius: 8px 8px 0px 0px;
}

#tableauTopicCategorie thead > tr {
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
    color: black;
}

#tableauTopicCategorie tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #e1e1e1;
    margin-top: -1px;
    color: #535353;
}

#tableauTopicCategorie tbody tr:hover {
    background-color: #f6f6f6;
}

#tableauTopicCategorie .first {
    width: 32px;
}

#tableauTopicCategorie .second {
    min-width: 18%;
    align-items: left;
}

#tableauTopicCategorie .third {
    width: 60px;
}

#tableauTopicCategorie .fourth {
    width: 60px;
    text-align: center;
}

#tableauTopicCategorie .fifth {
    width: 84px;
}

#tableauTopicCategorie .sixth {
    width: 60px;
    text-align: center;
}

#tableauTopicCategorie .seventh {
    width: 24px;
}

#tableauTopicCategorie tbody > tr:last-child {
    border-radius: 0px 0px 8px 8px;
}

#tableauTopicCategorie a{
    width: 100%;
    height: 100%;
}


/* listUsers.php */


#user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

#table-container{
    width: 90%;
    height: 80%;
    border-radius: 0 0 5% 5%;
    overflow: auto;
}

#table-container table{
    width: 100%;
    padding: 20px;
    border-radius: 0 0 5% 5%;
}

#table-container table tr th{
    width: 30%;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
}

#table-container table tr td{
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.11);
    transition: box-shadow .5s, transform .5s, color .5s;
}

#table-container table tr td:hover{
    transform: translateY(-10px);
    font-weight: bolder;
    background-color: green;
    color: white;
    box-shadow: 0 10px 10px white;
}

#table-container table tbody tr:hover{
    background-color: rgba(255, 255, 255, 0.09);
}


/* Making the layout responsive */

@media screen and (max-width: 960px) {
    table, nav, header {
    grid-column: 1 / 3;
    }
}

@media screen and (max-width: 680px) {
    .third, .fourth, .avatars, .drafts, .secondary-btn {
    display: none;
    }
}